body {
    font-family: 'Segoe UI', sans-serif;
    background-color:#ececec;
    color: #252525;
    margin: 0;
    padding: 0;
    justify-content: center;
}

header {
    background-color: #dbdbdb;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #1934ff;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

section {
    padding: 40px 20px 20px 20px;
    max-width: 900px;
    margin: auto;
}

.about {
    background-color: #d9d8d8;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}


.image {
    margin: auto;
    width: 40%;
    width: 300px;
    border: 3px solid black;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 5px black;
    float: right;
}

.Projects {
    padding: 20px;
    width: 60%;
}

.tag {
    display: inline-block;
    background-color: #d1d1d1;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 5px 0 0;
}

.my_projects {
    padding: 20px;
    margin-bottom: 30px;
    margin-top:30px;
    max-width: 900px;
    border-radius: 15px;
    background-color: #d6d6d6;
}

.my_projects h2 {
    text-align: center;
}

.my_projects border {
    display: inline-block;
    padding: 10px 20px;
    border: #1d8ca5 3px solid;
    border-radius: 26px;
    background-color: #e3e7e7;

}

.my_projects details {
    margin: 15px;
    padding: 12px;
    background-color: #e2e2e2;
    border-radius: 0px 12px 12px 0px;
    display: inline-block;
    border-left: #1d7eab 2.5px solid;
}

.my_projects summary {
    font-size: 1.2em;
    cursor: pointer;
    font-weight:400;
}

summary::marker {
    color: #133d50;
}

.my_projects summary:hover {
    color: #1d7eab;
}

.my_projects a {
    color: #323232;
    font-size: 1.1em;
}

.my_projects a:hover {
    color: #1d7eab;
}

.my_projects p {
    margin: 5px 2px ;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #d6d6d6;
    font-size: 0.9em;
}

.social {
    text-align: center;
    padding: 0px;
    height: 120px;
}

.social a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.2em;
}

.social border {
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    background-color: #e3e3e3;
}
